.header {
  font-size: 2rem;
  border-bottom: 3px solid #232c23;
  box-shadow: 4px 4px 26px #232c23;
}
.header a {
  color: white;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 40px;
}
.header a :hover {
  color: #232c23;
}
.header .navbar {
  border-bottom: 3px solid #232c23;
  box-shadow: 4px 4px 20px #232c23;
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: #8bc53e;
}
.header .navbar .nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}
@media only screen and (min-width: 733px) and (max-width: 959px), only screen and (min-width: 320px) and (max-width: 732px) {
  .header .navbar .nav {
    display: none;
  }
}
.header .navbar .navbar-brand {
  margin: 0 20px;
  padding: 20px 0;
}
.header .navbar .hidden-until-collapsed {
  display: none;
}
@media only screen and (min-width: 733px) and (max-width: 959px), only screen and (min-width: 320px) and (max-width: 732px) {
  .header .navbar .hidden-until-collapsed {
    display: flex;
    justify-content: flex-end;
    margin: 0 30px 30px 0;
  }
}
.header .navbar nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.header h1 {
  font-family: 'Pacifico', cursive;
  font-size: 6rem;
  padding-bottom: 40px;
}
.header h1 span {
  font-family: 'Nunito', sans-serif;
  font-size: 4rem;
}
.header button {
  margin-top: 30px;
  background: #8bc53e;
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px 20px;
}
.header button div {
  width: 35px;
  height: 5px;
  background-color: #232c23;
  margin: 6px 0;
}
.header .headIndex {
  height: 400px;
  background: url("../img/foodshadow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 320px) and (max-width: 732px) {
  .header .headIndex {
    height: 300px;
  }
}
.header .headAbout {
  height: 400px;
  background: url("../img/teamorange.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 320px) and (max-width: 732px) {
  .header .headAbout {
    height: 300px;
  }
}
.header .content {
  height: 100%;
  font-size: 3rem;
  font-weight: bold;
  text-align: right;
  text-shadow: 4px 4px 26px #232c23, 0px 0px 10px #232c23;
  color: white;
  padding: 90px 20px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 1;
}
@media only screen and (min-width: 320px) and (max-width: 732px) {
  .header .content {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2.6rem;
    padding: 60px 10px 10px 10px;
  }
}
.dropdown {
  z-index: 2;
  cursor: pointer;
}
.dropdown .dropdown-content {
  width: 80%;
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border: 2.5px solid #8bc53e;
}
.dropdown .dropdown-hidden {
  display: none;
}
.expandable {
  transition: all 0.5s ease-in-out;
  transform-origin: right top;
}
.containerAbout {
  position: relative;
  width: 90%;
  margin: 0 auto;
  font-family: 'Open sans', sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.containerAbout h1 {
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  text-align: center;
  padding: 40px 0;
}
.containerAbout .card {
  position: relative;
  width: 48%;
  margin: 30px auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #232c23;
  box-shadow: 1px 1px 15px #232c23;
}
@media only screen and (min-width: 733px) and (max-width: 959px) {
  .containerAbout .card {
    width: 80%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 732px) {
  .containerAbout .card {
    width: 100%;
  }
}
.containerAbout .card img {
  width: 80%;
}
@media only screen and (min-width: 733px) and (max-width: 959px) {
  .containerAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 320px) and (max-width: 732px) {
  .containerAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/********************************************** HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
a {
  height: 100%;
}
.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Open sans', sans-serif;
  font-size: 2rem;
}
.container h1 {
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  margin: 0 auto;
  padding: 40px 0;
}
.container .cta {
  width: 100%;
  margin: 105px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .cta .ctaContent {
  line-height: 3rem;
}
.container .section {
  width: 100%;
  margin: 105px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid #232c23;
  box-shadow: 1px 1px 15px #232c23;
  border-radius: 10px;
  overflow: hidden;
}
.container .section .box {
  padding: 40px;
}
.container .section .box .box-title {
  font-size: 24px;
  padding-bottom: 10px;
  font-weight: bold;
}
@media only screen and (min-width: 320px) and (max-width: 732px) {
  .container .container {
    padding: 0 5%;
  }
}
.tabs {
  width: 100%;
}
.tabs .tabs-items {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.tabs .tabs-item {
  display: none;
  width: 75%;
}
.tabs .tabs-item .tabs-item-title {
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}
.tabs .tabs-item-selected {
  display: block;
  padding-bottom: 50px;
}
.tabs .tabs-item-selected .tabs-item-title {
  font-size: 4rem;
}
.tabs .tabs-item-selected .tabs-item-description {
  padding-top: 30px;
  line-height: 3rem;
  display: flex;
  flex-direction: column;
}
.tabs .tabs-item-selected .tabs-item-description button {
  font-size: 2.5rem;
  background: none;
  border: none;
  font-family: 'Pacifico', cursive;
  margin-top: 20px;
}
.tabs .tabs-item-selected .tabs-item-description a {
  text-decoration: none;
  color: #8bc53e;
  border: 2px solid #232c23;
  border-radius: 5px;
  padding: 10px 40px;
}
.tabs .tabs-links {
  display: flex;
}
.tabs .tabs-link {
  width: 100%;
  padding: 20px 25px;
  font-size: 4rem;
  text-align: center;
  background-color: #232c23;
  color: white;
  cursor: pointer;
}
.tabs .tabs-link:hover {
  background-color: #8bc53e;
  color: white;
}
.tabs .tabs-link-selected {
  z-index: 2;
  background-color: white;
  border-bottom: none;
  border-top: none;
  color: #8bc53e;
}
.tabs .tabs-link-selected:hover {
  color: #232c23;
  background-color: white;
}
.foot {
  width: 100%;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  color: white;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8bc53e;
  border-top: 3px solid #232c23;
  box-shadow: -4px -4px 20px #232c23;
}
.foot address {
  padding-bottom: 20px;
  color: #232c23;
}
