
//////////////////////// future project, carousel this

.containerAbout { // replace with .carousel
      position: relative;
      width: 90%;
      margin: 0 auto;
      font-family: 'Open sans', sans-serif;
      font-size: 2rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      
      h1{
            font-family: 'Pacifico', cursive;
            font-size: 4rem;
            text-align: center;
            padding: 40px 0;
      }

      .card {
            position: relative;
            width: 48%;
            margin: 30px auto;
            padding: 25px;
            border: @test;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 3px solid #232c23;
		box-shadow: 1px 1px 15px #232c23;
            
            @media @tablet {
                  width: 80%;
            }
            @media @mobile {
                  width: 100%;
            }

      
      }

      @media @tablet {
            
            display: flex;
            flex-direction: column;
            align-items: center;
      }
      @media @media {
            
            display: flex;
            flex-direction: column;
            align-items: center;
      }

}