.header {
      font-size: 2.0rem;
      border-bottom: 3px solid #232c23;
      box-shadow: 4px 4px 26px #232c23;	

      a {
            color: white;
            font-size: 3rem;
            text-decoration: none;

            &:hover {
                  color: @darkgreen;
            }   
      }

      nav {
            border-bottom: 3px solid #232c23;
            box-shadow: 4px 4px 20px #232c23;
            color: white;
            display: flex;
            justify-content: space-between;
            background-color: #8bc53e;
            
            
            .navItem {
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: space-evenly;
                  align-items: center;
                  margin-top: 28px;
                  margin-right: 25px;

                  a{
                        margin-left: 30px;
                        
                  }
                  

                  @media @tablet, @mobile{
                        display: none;      
                  }
            
            }

            
            .navbar-brand {
                  position: relative;
                  max-height: 90px;
                  max-width: 200px;
                  margin: 0 20px;
                  padding: 15px 15px;
            }

            .hamburger {
                  display: none;

                  @media @tablet, @mobile{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        margin: 11px 27px;
                  }
            }
      }

      // nav {
      //       width: 80%;
      //       display: flex;
      //       justify-content: space-between;
      // }

      // .navbar-collapse {

      // }

      // .collapse {
      //       display: none;
      // }

      h1 {
            font-family: 'Pacifico', cursive;
            font-size: 6rem;
            padding-bottom: 40px;
      
            span {
                  font-family:'Nunito', sans-serif;
                  font-size: 4rem;
            }
      }

      button {
            // margin-top: 30px;
            background: @green;
            border: 1px solid white;
            border-radius: 4px;
            padding: 7px 20px;
            margin-bottom: 10px;

            div {   
                  width: 35px;
                  height: 5px;
                  background-color: @darkgreen;
                  margin: 6px 0; 
            
            }


      } //  hamburger






      .headIndex{
            height: 400px;
            background: url("../img/foodshadow.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            @media @mobile {
                  height: 300px;
            }
      } //header img on index page

      .headAbout{
            height: 400px;
            background: url("../img/teamorange.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            
            @media @mobile {
                  height: 300px;
            }
      } //header img on about page

      .content {
            height: 100%;
            font-size: 3rem;
            font-weight: bold;
            text-align: right;
            text-shadow: 4px 4px 26px @darkgreen, 0px 0px 10px @darkgreen;
            color: white;
            padding: 90px 20px 20px 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            z-index: 1;
      
            @media only screen and (min-width: 320px) and (max-width: 732px) {	
                  text-align: center;
                  justify-content: center;
                  align-items: center;
                  font-size: 2.6rem;
                  padding: 60px 10px 10px 10px;
            }
      }   //words in front of image


}






 